*{
    margin: 0px;
    padding: 0px;
    color: white;
}
body {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  overflow-x: hidden;
}
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

.purple {
  color: #bb38ff;
}

.themainparent{
    /* background-image: url("../src/assets/images/stars.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
